{{> header}}

<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						
						<h3>Welcome!</h3>
						<p class="lead">This is your welcome email</p>
						<p><img src="https://www.skillsforward.co.uk/wp-content/uploads/2019/07/book-demo-2.jpg" /></p>

					</td>
				</tr>
			</table>
			</div>
									
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

{{> footer}}